[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
black = "*"

[packages]
CherryPy = "*"
Pillow = "*"
python-magic = "*"
pyyaml = "*"
requests = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
