[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = '==2018.11.29'
chardet = '==3.0.4'
cheroot = '==6.5.2'
cherrypy = '==18.0.1'
idna = '==2.7'
'jaraco.functools' = '==1.20'
more-itertools = '==4.3.0'
pillow = '==5.3.0'
portend = '==2.3'
python-magic = '==0.4.15'
pytz = '==2018.7'
pyyaml = '==3.13'
requests = '==2.20.1'
six = '==1.11.0'
tempora = '==1.14'
urllib3 = '==1.24.1'
'zc.lockfile' = '==1.4'

[dev-packages]
nose = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"

[requires]
python_version = "3.7"

# HOW TO PIN: https://pipenv.readthedocs.io/en/latest/basics/#specifying-versions-of-a-package
