[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
certifi = "*"
chardet = "*"
cheroot = "*"
cherrypy = "*"
coverage = "*"
idna = "*"
more-itertools = "*"
nose = "*"
olefile = "*"
pillow = "*"
pluggy = "*"
portend = "*"
py = "*"
pytest = "*"
pytest-cov = "*"
python-magic = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
six = "*"
tempora = "*"
"urllib3" = "*"

[dev-packages]
nose = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"

[requires]
python_version = "3.7"

# HOW TO PIN: https://pipenv.readthedocs.io/en/latest/basics/#specifying-versions-of-a-package
